# name: Azure Pipeline Dev

# on:
#   workflow_dispatch:
#   push:
#     branches:
#       - main
#       - dev

# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2

#       - name: Set up Python
#         uses: actions/setup-python@v2
#         with:
#           python-version: '3.10'

#       - name: Install dependencies
#         run: |
#           pip install -r requirements.txt
#           pip install azure-ai-ml azure-identity

#       - name: Azure Login
#         uses: azure/login@v1
#         with:
#           creds: ${{ secrets.AZURE_CREDENTIALS }}

#       - name: Run Pipeline Script
#         run: python pipeline_cloud_dev.py
