name: Pipeline ML First Run

on:
  workflow_dispatch:
  push:
    branches:
      - prod

jobs:
  load-params:
    runs-on: ubuntu-latest
    outputs:
      mode: ${{ steps.read_params.outputs.mode }}
      model_periodo: ${{ steps.read_params.outputs.model_periodo }}
      ult_periodo_data: ${{ steps.read_params.outputs.ult_periodo_data }}
      n_eval_periodos: ${{ steps.read_params.outputs.n_eval_periodos }}
      periodo: ${{ steps.read_params.outputs.periodo }}
      with_tipo: ${{ steps.read_params.outputs.with_tipo }}
      platinum_version: ${{ steps.read_params.outputs.platinum_version }}
      feats_version: ${{ steps.read_params.outputs.feats_version }}
      target_version: ${{ steps.read_params.outputs.target_version }}
      model_version: ${{ steps.read_params.outputs.model_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Check Date
        id: check_date
        run: python src/utils/date_validator.py

      - name: Read Parameters
        id: read_params
        if: always()
        run: |
          with_tipo="True"
          periodo="-1"
          echo "mode=$(jq -r '.mode' params_prod.json)" >> $GITHUB_OUTPUT
          echo "model_periodo=$(jq -r '.model_periodo' params_prod.json)" >> $GITHUB_OUTPUT
          echo "ult_periodo_data=$(jq -r '.ult_periodo_data' params_prod.json)" >> $GITHUB_OUTPUT
          echo "n_eval_periodos=$(jq -r '.n_eval_periodos' params_prod.json)" >> $GITHUB_OUTPUT
          echo "periodo=$periodo" >> $GITHUB_OUTPUT
          echo "with_tipo=$with_tipo" >> $GITHUB_OUTPUT

          # --------------------------------------------------------------------------------------
          # ---------------------------- Versions from version.json ------------------------------
          # --------------------------------------------------------------------------------------

          echo "platinum_version=$(jq -r '.platinum_version.dev' version.json)" >> $GITHUB_OUTPUT
          echo "feats_version=$(jq -r '.feats_version.dev' version.json)" >> $GITHUB_OUTPUT
          echo "target_version=$(jq -r '.target_version.dev' version.json)" >> $GITHUB_OUTPUT
          echo "model_version=$(jq -r '.model_version.dev' version.json)" >> $GITHUB_OUTPUT

  trigger-pl-ml-evaluate:
    needs: load-params
    if: always()
    # uses: ./.github/workflows/wf_func_test.yml
    uses: ./.github/workflows/wf_func_deploy_evaluate.yml
    with:
      mode: ${{ needs.load-params.outputs.mode }}
      model_periodo: ${{ fromJson(needs.load-params.outputs.model_periodo) }}
      ult_periodo_data: ${{ fromJson(needs.load-params.outputs.ult_periodo_data) }}
      n_eval_periodos: ${{ fromJson(needs.load-params.outputs.n_eval_periodos) }}
      periodo: ${{ fromJson(needs.load-params.outputs.periodo) }}
      with_tipo: ${{ needs.load-params.outputs.with_tipo }}

      platinum_version: ${{ needs.load-params.outputs.platinum_version }}
      feats_version: ${{ needs.load-params.outputs.feats_version }}
      target_version: ${{ needs.load-params.outputs.target_version }}
      model_version: ${{ needs.load-params.outputs.model_version }}
    secrets: inherit
  
  trigger-pl-update-versions:
    needs: [load-params, trigger-pl-ml-evaluate]
    if: needs.trigger-pl-ml-evaluate.outputs.response_inicial == 'approved' && needs.trigger-pl-ml-evaluate.outputs.response_continuidad_horario == 'approved'
    uses: ./.github/workflows/wf_func_update_prod_version.yml
    with:
      platinum_version: ${{ needs.load-params.outputs.platinum_version }}
      feats_version: ${{ needs.load-params.outputs.feats_version }}
      target_version: ${{ needs.load-params.outputs.target_version }}
      model_version: ${{ needs.load-params.outputs.model_version }}
    secrets: inherit
    

  trigger-pl-ml-model:
    needs: [load-params, trigger-pl-ml-evaluate]
    if: needs.trigger-pl-ml-evaluate.outputs.response_inicial == 'approved' && needs.trigger-pl-ml-evaluate.outputs.response_continuidad_horario == 'approved'
    # always() &&
    # uses: ./.github/workflows/wf_func_test.yml
    uses: ./.github/workflows/wf_func_deploy_model.yml
    with:
      mode: ${{ needs.load-params.outputs.mode }}
      model_periodo: ${{ fromJson(needs.load-params.outputs.model_periodo) }}
      ult_periodo_data: ${{ fromJson(needs.load-params.outputs.ult_periodo_data) }}
      n_eval_periodos: ${{ fromJson(needs.load-params.outputs.n_eval_periodos) }}
      periodo: ${{ fromJson(needs.load-params.outputs.periodo) }}
      with_tipo: ${{ needs.load-params.outputs.with_tipo }}
      platinum_version: ${{ needs.load-params.outputs.platinum_version }}
      feats_version: ${{ needs.load-params.outputs.feats_version }}
      target_version: ${{ needs.load-params.outputs.target_version }}
      model_version: ${{ needs.load-params.outputs.model_version }}
    secrets: inherit
