name: Deploy Pipeline ML prod

on:
  # workflow_dispatch:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
      model_periodo:
        required: true
        type: number
      ult_periodo_data:
        required: true
        type: number
      n_eval_periodos:
        required: true
        type: number
      periodo:
        required: true
        type: number
      with_tipo:
        required: true
        type: string
      platinum_version:
        required: true
        type: string
      feats_version:
        required: true
        type: string
      target_version:
        required: true
        type: string
      model_version:
        required: true
        type: string
      # with_tipo_predict:
      #   required: true
      #   type: string
      model_current_version:
        required: true
        type: string
  # push:
  #   branches:
  #     - prod

jobs:
  deploy-pl-ml-prod:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python sample.py --mode ${{ inputs.mode }} --model_periodo ${{ inputs.model_periodo }} --ult_periodo_data ${{ inputs.ult_periodo_data }} --n_eval_periodos ${{ inputs.n_eval_periodos }} --periodo ${{ inputs.periodo }} --with_tipo ${{ inputs.with_tipo }} --platinum_version ${{ inputs.platinum_version }} --feats_version ${{ inputs.feats_version }} --target_version ${{ inputs.target_version }} --model_version ${{ inputs.model_version }}
        echo "model_current_version=${{ inputs.model_current_version }}"